#!/bin/bash
echo "$(date) === Cleaning up logs older than ${LOGDAYS} days"
find "${PERSISTENT_DATA_PATH}" -name "*.log" -type f -mtime +"${LOGDAYS}" -exec rm {} \;
echo "$(date) === Cleaned up Logfiles" | tee -a "$(cat /home/steam/currentlog_path.txt)"